<?php
    /* @var $this Mageconsult_Adcell_Block_Checkout_Onepage_Success */
?>
<?php if (Mage::getStoreConfigFlag('mageconsult_adcell/tracking/use_tracking')) : ?>

<?php
    $eventId    = $this->escapeHtml($this->getEventId());
    $programId  = $this->escapeHtml($this->getProgramId());
    $orderId    = $this->getOrderId();
    $orderTotal = $this->getOrderTotal();
?>

    <script type="text/javascript" src="//www.adcell.de/js/track.js?eventid=<?php echo $eventId; ?>&pid=<?php echo $programId; ?>&referenz=<?php echo $orderId; ?>&betrag=<?php echo $orderTotal; ?>"></script>
    <noscript>
        <img src="//www.adcell.de/event.php?pid=<?php echo $programId; ?>&eventid=<?php echo $eventId; ?>&referenz=<?php echo $orderId; ?>&betrag=<?php echo $orderTotal; ?>" border="0" width="1" height="1">
    </noscript>


<?php endif; ?>